@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url(header.css);
@import url(section.css);
@import url(footer.css);
@import url(media-queries.css);

:root {
  --fonte-padrao: "Roboto", sans-serif;
  --font-logo: "Lobster", sans-serif;
  --cor-principal01: #180f4a;
  --cor-principal02: #ff2978;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}

.navegacao {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: fixed;
  width: 100vw;
}

.logo {
  padding: 20px;
  flex: 20%;
  margin-left: 10%;
}

.logo h1 {
  font-family: var(--font-logo);
  font-size: 2rem;
  color: var(--cor-principal01);
  text-align: left;
}

.menu {
  padding: 16px;
  flex: 60%;
  text-align: right;
  margin-right: 10%;
}

.menu a {
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--cor-principal01);
  margin-left: 20px;
  transition: all 0.2s;
}

.menu a:hover {
  color: var(--cor-principal02);
  border-top: 4px solid var(--cor-principal01);
}

.menu a.fale-conosco {
  margin-right: 0;
  background-color: var(--cor-principal01);
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  transition: all 0.3s;
}

.menu a.fale-conosco:hover {
  background-color: var(--cor-principal02);
  border: none;
}
