.principal {
  height: 600px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-texto {
  border: 1px solid rebeccapurple;
  flex: 40%;
  margin-left: 10%;
}

.header-imagem {
  border: 1px solid blue;
  flex: 40%;
  margin-right: 10%;
}
